src/pug/index.pug
extends ./templates/template
block vars
  - var pageTitle = 'Renew your tax credits'
  - var pageClass = null

block content
  include ./includes/component-mixin
  include ./includes/header

  main.main
    .container
      div
        h1 Renew your tax credit
      
      section
        form.form
          fieldset.form-section
            legend.h3 Your details
            .form-row
              label
                | Your National Insurance Number
                a(href="#") Show me where to find this
                input.form-control.form-control--short(type="text")

            .form-row
              p Your tax credit renewal number is the 15 digit number on the bottom right hand corner of your annual declaration. Enter it below
              img.img(src="img/number-lense.png")

            .form-row
              label
                | Your tax credit renewal number
                input.form-control(type="text")

            .form-row
              button.button(type="submit") Next
            
      section.section
        .widget.get-help
          a(href="#") Get help with this page.

  include ./includes/footer

public/index.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Renew your tax credits | Welcome to HMRC</title>
  <meta name="description" content="">
  <meta name="msapplication-TileColor" content="#0079C2">
  <meta name="theme-color" content="#0079C2">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#0079C2">
  <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/hmrc-fonts.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
  <link rel="icon" href="css/img/favicon-16.png" sizes="16x16" type="image/png">
  <link rel="icon" href="css/img/favicon-32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="css/img/favicon-48.png" sizes="48x48" type="image/png">
  <link rel="icon" href="css/img/favicon-62.png" sizes="62x62" type="image/png"><!--[if gte IE 9]>
  <style>
    .gradient { filter: none; }
    
  </style><![endif]-->
</head>
<body><!--[if lt IE 9]>
  <div class="browsehappy" id="top">
    <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/"> upgrade your browser</a> to improve your experience.</p>
  </div><![endif]-->
  <header class="header">
    <div class="container">
      <div class="header-top"> <span class="hmrc-logo">HM Revenue & Customs</span></div>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <div>
        <h1>Renew your tax credit</h1>
      </div>
      <section>
        <form class="form">
          <fieldset class="form-section">
            <legend class="h3">Your details</legend>
            <div class="form-row">
              <label>Your National Insurance Number<a href="#">Show me where to find this</a>
                <input class="form-control form-control--short" type="text">
              </label>
            </div>
            <div class="form-row">
              <p>Your tax credit renewal number is the 15 digit number on the bottom right hand corner of your annual declaration. Enter it below</p><img class="img" src="img/number-lense.png">
            </div>
            <div class="form-row">
              <label>Your tax credit renewal number
                <input class="form-control" type="text">
              </label>
            </div>
            <div class="form-row">
              <button class="button" type="submit">Next</button>
            </div>
          </fieldset>
        </form>
      </section>
      <section class="section">
        <div class="widget get-help"><a href="#">Get help with this page.</a></div>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <section class="footer-wrap">
        <div class="footer-content">
          <nav class="footer-nav">
            <ul class="footer-nav--list">
              <li class="footer-nav--item"> <a href="#">Help</a></li>
              <li class="footer-nav--item"> <a href="#">Cookies</a></li>
              <li class="footer-nav--item"> <a href="#">Privacy policy</a></li>
              <li class="footer-nav--item"> <a href="#">Terms and conditions</a></li>
            </ul>
          </nav>
          <div class="ogl"><img class="ogl-logo" src="img/ogl-logo.png">All content is available under the <a href="#">Open Government Licence v2.0</a>, except where otherwise stated</div>
        </div>
        <div class="footer-copy"><img class="footer-copy--img" src="img/govuk-crest.png"><span class="footer-copy--text">&copy Crown Copyright</span></div>
      </section>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body></html>
